<td colspan="12" align="center" style="background: #e6e6e6; ">
  
  <div class="panel panel-default" >

    <div class="panel-heading" align="center">

      <div  align="center" style="border-bottom: 2px dashed #b6b6b6;margin-bottom:5px;padding:0px;">

        <h3 style="float:center;">Detalles Fonoaudiológicos del Paciente</h3>

      </div>

    </div>
   
    <div class="panel-body">
      
      <div class="table-responsive" id="table-paciente-detalle-fono">

         <%= form_for @paciente, remote: true, url: pacientes_guardar_detalle_fono_url, html: { id: "form-datos-paciente" }, method: 'POST' do |f| %>

          <%= hidden_field_tag :persona_id%>

        <table class="table table-bordered table-hover table-striped display dataTable" aria-describedby="example_info">
         

          <thead>
              
            <tr role="row">
              
              <th>Antecedentes</th>
              <th>Datos Clínicos</th>
              <th>Datos de Escolaridad</th>
              <th>Datos de Derivación</th>
              
              
            </tr>
            
          </thead>
       
          <tbody id="paciente-detalle-fono">

            
                
          </tbody>
          
        

        <div style="background:#e6e6e6;">

       
          
        </div>

        </table>
        
        <%= f.submit "Actualizar Datos", class: "btn btn-primary", id: "btn-actualizar-datos-paciente" %>

       <%end %>  

      </div>
      
    </div>
  </div>  