<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-paciente' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-pacientes");
   $("#form_buscar_pacientes_id").val("<%=@paciente_elim.id%>")
   $("#form-buscar-pacientes").submit();
    setTimeout(function(){ 
      $("#msg-eliminar-paciente").remove();
      swal("Eliminado Exitosamente.");
    }, 1000);
    
    
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-paciente' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-pacientes");
  setTimeout(function(){ $("#msg-eliminar-paciente").remove(); }, 2000);
  	swal("No se pudo Eliminar. Intente más tarde")
<% end %>
