<div style="text-align:center;width:100%;">

  <div style="font-size:20px;margin-top:20px;">

    Se comunica a los usuarios, que por motivos de mantenimiento de los servidores, estaremos fuera de servicio hasta las 19 hs.
    <br />
    <br />
    Se agradece la comprensión de nuestros usuarios, garantizándoles la continuidad de los servicios prestados.
    <br />
    <br />
    Atentamente : Direcci&oacute;n de Inform&aacute;tica.
 
  </div> 

</div>
