<%= link_to "<span class='glyphicon glyphicon-file'> Crear Archivo</span>".html_safe, "#", id: "link-to-emitir-archivo-#{cita_id}", class: 'btn btn-primary btn-sm', title: 'Haga click para crear un archivo con su descripción correspondiente.', onclick: "$('.modal').html('');return false;" %>

<%= modal_window( window_id: "modal-window-emitir-archivo", link_to_id: "#link-to-emitir-archivo-#{cita_id}", url: citas_detalles_fono_emitir_resolucion_path( window_id: "modal-window-emitir-archivo", cita_id: cita_id) )%>
