<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-produccion' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-produccion");
   $("#form-buscar-produccion").submit();
    setTimeout(function(){ $("#msg-eliminar-produccion").remove(); }, 3000);
    swal({title: "Atención", text: "<%= j(@msg)%>", html: false})
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-produccion' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-produccion");
  setTimeout(function(){ $("#msg-eliminar-produccion").remove(); }, 3000);
  	swal({title: "Atención", text: "<%= j(@msg)%>", html: false})

<% end %>
