<% if @usuario_ok %>

  $("<div class='col-sm-12' id='msg-reset-mi-password' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Actualizado Exitosamente.</div>").insertBefore("#form-reset-password");

  setTimeout(function(){ location.href="<%= url_for(index_path) %>"; }, 3000);

<% else %>

  $("<div class='col-sm-12' id='msg-reset-mi-password' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= @msg.html_safe %></div>").insertBefore("#form-reset-password");

<% end %>
