<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-perfil' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-perfiles");

  setTimeout(function(){ 
    $("#msg-eliminar-perfil").remove(); 
    $("#link-to-perfiles-<%= @usuario_id %>").trigger('click');
    $("#link-to-perfiles-<%= @usuario_id %>").trigger('click');
   }, 3000);

<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-perfil' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'>No se ha podido eliminar el perfil.</div>").insertBefore("#table-accesos");
  setTimeout(function(){ $("#msg-eliminar-perfil").remove(); }, 3000);

<% end %>
