
<table align="center" class="cual" style="width: 80%; border: 1px solid #000 !important;">
 
  

  <% cita_detalle = CitaDetalleFono.where("cita_id = ?", @cita.cita_id).first %>
  
  <%if  cita_detalle.present?%>
    
    <tr>

        <th>Objetivos</th>

    </tr>
    
    <tr>

      <td align="left"><%= text_area_tag :objetivo,cita_detalle.objetivo.gsub('<br/>',"\r\n"), :size =>"150x15",  class: 'form-control input-sm' ,maxlength: "510", style: "border: none;"%></td>

    </tr> 

    <tr><td></td></tr>

    <tr>

        <th>Resultados</th>
        
    </tr>
     <tr>

        <td align="left"><%= text_area_tag :objetivo,cita_detalle.resultado.gsub('<br/>',"\r\n"), :size =>"150x20",  class: 'form-control input-sm' ,maxlength: "510", style: "border: none;"%></td>

      </tr>  
      <tr><td></td></tr>
      <tr>

        <th>Observaciones</th>
        
    </tr>
    <tr>

        <td align="left"><%= text_area_tag :objetivo,cita_detalle.observacion.gsub('<br/>',"\r\n"), :size =>"150x15",  class: 'form-control input-sm' ,maxlength: "510", style: "border: none;"%></td>

    </tr>      
    <tr><td></td></tr>
<%end%>

