<% if @cita_ok %>

  $("<div class='col-sm-12' id='msg-agregar-cita' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-cita");
   
  $("#form_buscar_citas_id").val('<%= @cita.id %>');
  $("#form_buscar_citas_fecha").val('');
  $("#form_buscar_citas_paciente_documento").val('');
  $("#form_buscar_citas_pacientes_nombre").val('');
  $("#form_buscar_citas_pacientes_apellido").val('');
  $("#form_buscar_citas_tipo_consulta_id").val('');
  $("#form_buscar_citas_monto_consulta").val('');
  $("#form_buscar_citas_estado_cita_id").val('');
  $("#form-buscar-citas").submit();
  
  setTimeout(function(){ 
    $("#<%= params[:window_id]%>").modal('hide'); 
    swal("La Cita ha sido agendada Exitosamente.");
  }, 2000);


<% else %>

	swal("Error al guardar:" + "<%=j(@msg)%>")
    $("<div class='col-sm-12' id='msg-agregar-cita' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-agregar-cita");

<% end %>
