<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-tutor-detalle' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-tutor-detalle");
   
    setTimeout(

      function(){ $("#msg-eliminar-tutor-detalle").remove(); 
     
      $("#link-to-tutor-detalle-<%= @tutor_detalle.tutor_id%>").trigger('click');
      $("#link-to-tutor-detalle-<%= @tutor_detalle.tutor_id%>").trigger('click');
      
       swal("Detalle eliminado exitosamente.");

    }, 1000);
   
    
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-tutor-detalle' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-tutor-detalle");
  setTimeout(function(){ 
    
    $("#msg-eliminar-tutor-detalle").remove();

    swal("No se pudo eliminar el detalle. Intente más tarde")

     }, 2000);
    
<% end %>
