<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-flota' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-flotas");
   $("#form-buscar-flotas").submit();
    setTimeout(function(){ $("#msg-eliminar-flota").remove(); }, 3000);
    swal("Eliminado Exitosamente.")
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-flota' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-flotas");
  setTimeout(function(){ $("#msg-eliminar-flota").remove(); }, 3000);
  	swal("no se pudo Eliminar.")
<% end %>
