<% if @eliminado %>

   $("<div class='col-sm-12' id='msg-eliminar-precio' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Eliminado exitosamente.</div>").insertBefore("#table-precios");
   $("#form_buscar_precios_id").val("<%=@precio_elim.id%>")
   $("#form-buscar-precios").submit();
    setTimeout(function(){ 
      
      $("#msg-eliminar-precio").remove();
      swal("Eliminado Exitosamente.");

    }, 1000);
      
<% else %>

  $("<div class='col-sm-12' id='msg-eliminar-precio' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg).html_safe %></div>").insertBefore("#table-precios");
  setTimeout(function(){ $("#msg-eliminar-precio").remove(); }, 2000);
  	swal("no se pudo Eliminar.")
    
<% end %>
