<% if @precio_ok %>

   $("<div class='col-sm-12' id='msg-agregar-precio' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-precio");
   
  $("#form_buscar_precios_id").val('<%= @precio.id %>');
  $("#form_buscar_precios_codigo").val('');
  $("#form_buscar_precios_descripcion").val('');
   $("#form_buscar_precios_monto").val('');
  $("#form-buscar-precios").submit();
  
  setTimeout(function(){ 
    $("#<%= params[:window_id]%>").modal('hide'); 
    swal("Guardado Exitosamente.");
  }, 2000);


<% else %>

	swal("Error al guardar:" + "<%=j(@msg)%>")
    $("<div class='col-sm-12' id='msg-agregar-precio' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-agregar-precio");

<% end %>
