<% if @guardado_ok %>

   $("<div class='col-sm-12' id='msg-agregar-profesional' style='color:#000;padding-top:5px;font-size:10px;background:#d6ffd6;border-radius:5px;text-align:center;'>Registrado Exitosamente.</div>").insertBefore("#form-agregar-profesional");
   
  $("#form_buscar_profesional_id").val('<%= @profesional.id %>');
  $("#form-buscar-profesional").submit();
  
  setTimeout(function(){ 
    $("#<%= params[:window_id]%>").modal('hide');
    swal("Guardado Exitosamente.")
}, 1000);


<% else %>
	swal("Error al guardar:" + "<%=j(@msg)%>")
    $("<div class='col-sm-12' id='msg-agregar-profesional' style='color:#000;padding-top:5px;font-size:10px;background: #f8dfdf;border-radius:5px;text-align:center;'><%= j(@msg) %></div>").insertBefore("#form-agregar-profesional");

<% end %>
