<footer class="footer">
  <div class="row">
    <div class="col-sm-2 "> <!--algun logo izquierdo aqui 'logo gobierno'-->
    </div>
    <div class="col-sm-7 col-sm-offset-1">
      <p class="text-center">
        <%= link_to "Aviso Legal", legal_url, :target => '_blank'%> | <%= link_to "Acerca de", about_url, :target => '_blank'%>
        </br>

          <a rel="license" href="http://creativecommons.org/licenses/by/4.0/"><img alt="Licencia de Creative Commons" style="border-width:0" src="https://i.creativecommons.org/l/by/4.0/80x15.png" /></a>

        <%= Time.now.year %> - Visite <%= link_to "SmartHub", "http://www.smarthub.design", :target => '_blank'%>
        <br>

      </p>
    </div>
    <div class="col-sm-2 "><!--algun logo derecho aqui 'logo gobierno'-->
    </div>
  </div>
</footer>

