<header class="container-fluid">

  <div class="cabecera row hidden-xs">

    <div class="col-sm-3 col-xs-8 principal" onclick="Javascript:window.open('http://www.smarthub.design','_self');">
      <div class="logo mec-letras-blancas"></div>
    </div>



  </div>

  <%= render :partial => "layouts/menu" %>

</header>