<header class="container-fluid">

  <div class="cabecera row hidden-xs">

    <div  style="text-align:center;" > <!--algun logo central aqui 'logo rue'-->
      <%= image_tag("fono_index.jpg", style: "width:150px;")%> <!--algun logo central aqui-->
    </div>

  </div>

  <%= render :partial => "layouts/menu" %>

</header>
