<header class="container-fluid">

  <div class="cabecera row hidden-xs">

    <div class="col-sm-3 col-xs-8 principal", '_self');">
      <div class="logo ">

        <%= image_tag("logistica_izquierdo.jpg", style: "width:250px;")%>

      </div><!--algun logo izquierdo aqui 'logo gobierno'-->

    </div>

    <div class="col-sm-offset-1 col-sm-4 " style="text-align:center;" > <!--algun logo central aqui 'logo rue'-->
      <%= image_tag("empresa_transporte.jpg", style: "width:250px;")%> <!--algun logo central aqui-->
    </div>

    <div class="col-sm-offset-1 col-sm-3"> <!--algun logo derecho aqui 'logo gobierno'-->

      <%= image_tag("logistica_derecho.png", style: "width:250px;")%> 

    </div>

  </div>

  <%= render :partial => "layouts/menu" %>

</header>
